In [1]:
import json

In [2]:
file_name = 'hockeyscrape/canes.json'

In [3]:
with open(file_name) as fp:
    hockey_json = json.load(fp)

In [4]:
import pandas as pd
pd.set_option('display.max_columns', 500)

import numpy as np

In [5]:
types = {row['curr_type'] for row in hockey_json}
    
print (types)

{'penalty', 'game_log', 'skaters', 'goalies'}

In [6]:
penalty_df = pd.DataFrame([row for row in hockey_json if row['curr_type'] == 'penalty'])
penalty_df.drop(columns=['curr_type'], inplace=True)

In [7]:
penalty_df.head()

,year,team_one,team_two,date_game,time,team,player,penalty,length
0,1997,CAR,OTT,1997-11-09,09:59,CAR,Nelson Emerson,Tripping,2 min
1,1997,CAR,TBL,1997-10-01,04:50,TBL,Dino Ciccarelli,Slashing,2 min
2,1997,CAR,OTT,1997-11-09,12:51,OTT,Janne Laukkanen,Tripping,2 min
3,1997,CAR,OTT,1997-11-09,14:44,OTT,Wade Redden,Slashing,2 min
4,1997,CAR,OTT,1997-11-09,17:16,CAR,Kevin Haller,High sticking,2 min

In [8]:
penalty_df.describe()

,year,team_one,team_two,date_game,time,team,player,penalty,length
count,17570,17570,17570,17570,17570,17570,17570,17570,17570
unique,23,1,33,1772,1199,34,2024,94,5
top,2006,CAR,WSH,2002-10-12,20:00,CAR,Eric Staal,Hooking,2 min
freq,1423,17570,1268,48,203,8315,317,2419,16012

In [9]:
games_df = pd.DataFrame([row for row in hockey_json if row['curr_type'] == 'game_log'])
games_df.drop(columns=['curr_type'], inplace=True)

for col in games_df.columns:
    games_df[col] = games_df[col].apply(lambda val: np.nan if val == '' else val)

In [10]:
games_df.head()

,year,date_game,game_location,opp_name,goals,opp_goals,game_outcome,overtimes,shots,pen_min,goals_pp,chances_pp,goals_sh,shots_against,pen_min_opp,goals_against_pp,opp_chances_pp,goals_against_sh,corsi_for,corsi_against,corsi_pct,fenwick_for,fenwick_against,fenwick_pct,faceoff_wins,faceoff_losses,faceoff_percentage,zs_offense_pct,pdo
0,1998,1997-10-01,@,Tampa Bay Lightning,2,4,L,NaN,29,39,1,NaN,0,27,39,2,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1998,1997-10-03,NaN,Pittsburgh Penguins,3,4,L,NaN,28,72,2,NaN,0,27,43,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998,1997-10-04,@,Ottawa Senators,2,3,L,NaN,18,16,1,NaN,0,27,10,2,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1998,1997-10-07,NaN,Los Angeles Kings,3,3,T,OT,29,18,0,NaN,0,30,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1998,1997-10-10,NaN,New Jersey Devils,2,1,W,NaN,27,8,0,NaN,0,17,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
skaters_df = pd.DataFrame([row for row in hockey_json if row['curr_type'] == 'skaters'])
skaters_df.drop(columns=['curr_type'], inplace=True)

for col in skaters_df.columns:
    skaters_df[col] = skaters_df[col].apply(lambda val: np.nan if val == '' else val)

In [12]:
skaters_df.head()

,year,team,opp,date_game,player,goals,assists,points,plus_minus,pen_min,goals_ev,goals_pp,goals_sh,goals_gw,shots,shot_pct,shifts,time_on_ice,assists_ev,assists_pp,assists_sh
0,1997,CAR,OTT,1997-11-09,Jeff Brown,0,1,1,1,0,0,0,0,0,3,0.0,24,22:56,NaN,NaN,NaN
1,1997,CAR,OTT,1997-11-09,Adam Burt,0,0,0,0,0,0,0,0,0,0,NaN,23,19:38,NaN,NaN,NaN
2,1997,CAR,NYI,1997-11-07,Jeff Brown,0,1,1,1,0,0,0,0,0,4,0.0,25,25:38,NaN,NaN,NaN
3,1997,CAR,DET,1997-11-05,Jeff Brown,0,2,2,1,2,0,0,0,0,2,0.0,25,19:13,NaN,NaN,NaN
4,1997,CAR,OTT,1997-11-09,Steve Chiasson,0,1,1,0,2,0,0,0,0,4,0.0,26,23:34,NaN,NaN,NaN

In [13]:
skaters_df.describe()

,year,team,opp,date_game,player,goals,assists,points,plus_minus,pen_min,goals_ev,goals_pp,goals_sh,goals_gw,shots,shot_pct,shifts,time_on_ice,assists_ev,assists_pp,assists_sh
count,67896,67896,67896,67896,67896,67890,67876,67896,64979,67896,67890,67890,67890,64979,64981,47221,64979,67896,16194,16194,16194
unique,23,34,34,1781,2975,5,5,7,13,30,4,4,3,2,16,28,57,2495,4,3,2
top,2006,CAR,CAR,2016-02-13,Eric Staal,0,0,0,0,0,0,0,0,0,1,0.0,22,60:00,0,0,0
freq,4189,33936,33960,40,959,59241,53873,47632,29570,53554,61415,65651,67565,63384,18423,38573,4637,1042,13482,15458,16139

In [14]:
goalies_df = pd.DataFrame([row for row in hockey_json if row['curr_type'] == 'goalies'])
goalies_df.drop(columns=['curr_type'], inplace=True)

for col in goalies_df.columns:
    goalies_df[col] = goalies_df[col].apply(lambda val: np.nan if val == '' else val)

In [15]:
goalies_df.head()

,year,team,opp,date_game,player,decision,goals_against,shots_against,saves,save_pct,shutouts,pen_min,time_on_ice
0,1997,CAR,OTT,1997-11-09,Trevor Kidd,W,1,14,13,.929,0,0,40:00
1,1997,CAR,OTT,1997-11-09,Sean Burke,NaN,0,12,12,1.000,0,0,20:00
2,1997,CAR,NYI,1997-11-07,Trevor Kidd,L,3,24,21,.875,0,0,59:04
3,1997,CAR,DET,1997-11-05,Trevor Kidd,W,1,20,19,.950,0,0,60:00
4,1998,CAR,DAL,1998-10-15,Arturs Irbe,T,2,38,36,.947,0,0,65:00

In [16]:
goalies_df.describe()

,year,team,opp,date_game,player,decision,goals_against,shots_against,saves,save_pct,shutouts,pen_min,time_on_ice
count,4159,4159,4159,4159,4159,3594,4159,4159,4159,4148,4159,4159,3813
unique,23,34,34,1781,246,5,9,57,54,158,2,5,786
top,2006,CAR,CAR,2016-12-13,Cam Ward,W,1,1,0,.000,0,0,60:00
freq,256,2082,2077,5,710,1695,1105,338,363,352,3950,4024,1042

In [17]:
convert_game_location = lambda loc: 'A' if loc == '@' else 'H'

In [18]:
games_df['game_location'] = games_df['game_location'].apply(convert_game_location)

In [19]:
games_df.describe()

,year,date_game,game_location,opp_name,goals,opp_goals,game_outcome,overtimes,shots,pen_min,goals_pp,chances_pp,goals_sh,shots_against,pen_min_opp,goals_against_pp,opp_chances_pp,goals_against_sh,corsi_for,corsi_against,corsi_pct,fenwick_for,fenwick_against,fenwick_pct,faceoff_wins,faceoff_losses,faceoff_percentage,zs_offense_pct,pdo
count,1876,1876,1876,1876,1873,1873,1873,427,1873,1873,1873,361,1873,1873,1873,1778,361,1778,945,945,945,945,947,945,947,947,945,945,945
unique,21,1784,2,33,10,10,3,4,46,50,6,10,4,45,57,6,8,4,65,59,297,54,48,305,37,36,252,374,319
top,2006,2014-11-22,H,Washington Capitals,2,3,L,OT,28,6,0,3,0,25,6,0,2,0,50,44,50.0,36,32,50.0,24,20,50.0,50.0,100.0
freq,114,2,940,126,444,448,929,318,124,280,956,97,1715,119,273,896,117,1610,43,44,27,62,49,38,73,81,72,29,19

In [20]:
games_df

,year,date_game,game_location,opp_name,goals,opp_goals,game_outcome,overtimes,shots,pen_min,goals_pp,chances_pp,goals_sh,shots_against,pen_min_opp,goals_against_pp,opp_chances_pp,goals_against_sh,corsi_for,corsi_against,corsi_pct,fenwick_for,fenwick_against,fenwick_pct,faceoff_wins,faceoff_losses,faceoff_percentage,zs_offense_pct,pdo
0,1998,1997-10-01,A,Tampa Bay Lightning,2,4,L,NaN,29,39,1,NaN,0,27,39,2,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1998,1997-10-03,H,Pittsburgh Penguins,3,4,L,NaN,28,72,2,NaN,0,27,43,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1998,1997-10-04,A,Ottawa Senators,2,3,L,NaN,18,16,1,NaN,0,27,10,2,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1998,1997-10-07,H,Los Angeles Kings,3,3,T,OT,29,18,0,NaN,0,30,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1998,1997-10-10,H,New Jersey Devils,2,1,W,NaN,27,8,0,NaN,0,17,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1871,2019,2019-05-03,H,New York Islanders,5,2,W,NaN,21,8,1,4,0,28,10,1,3,0,30,49,38.0,24,31,43.6,19,19,50.0,29.0,121.9
1872,2019,2019-05-09,A,Boston Bruins,2,5,L,NaN,31,10,1,3,0,28,6,2,5,0,38,39,49.4,31,30,50.8,23,23,50.0,44.8,91.5
1873,2019,2019-05-12,A,Boston Bruins,2,6,L,NaN,23,4,0,4,0,25,8,2,2,0,31,32,49.2,24,25,49.0,17,22,43.6,45.5,91.4
1874,2019,2019-05-14,H,Boston Bruins,1,2,L,NaN,36,14,0,5,0,31,14,1,5,0,48,41,53.9,34,30,53.1,19,26,42.2,60.2,99.8
1875,2019,2019-05-16,H,Boston Bruins,0,4,L,NaN,24,6,0,2,0,23,4,2,3,0,58,44,56.9,35,29,54.7,28,29,49.1,56.0,88.2

In [21]:
out_name = 'canes.csv'

In [22]:
games_df.to_csv(out_name, index=False)

In [23]:
out_skaters_name = 'canes_skaters.csv'

In [24]:
skaters_df.to_csv(out_skaters_name, index=False)

In [25]:
out_goalies_name = 'canes_goalies.csv'

In [26]:
goalies_df.to_csv(out_goalies_name, index=False)

In [27]:
out_penalty_name = 'canes_penalties.csv'

In [28]:
penalty_df.to_csv(out_penalty_name, index=False)