In [1]:
import pandas as pd
import json
pd.set_option('display.max_columns', 500)

In [2]:
file_name = 'hockeyscrape/allgamelogs.json'

In [3]:
with open(file_name) as fp:
    hockey_json = json.load(fp)

In [4]:
hockey_df = pd.DataFrame(hockey_json)

In [5]:
hockey_df.head()

,year,team,date_game,game_location,opp_name,goals,opp_goals,game_outcome,overtimes,shots,pen_min,goals_pp,chances_pp,goals_sh,shots_against,pen_min_opp,goals_against_pp,opp_chances_pp,goals_against_sh,corsi_for,corsi_against,corsi_pct,fenwick_for,fenwick_against,fenwick_pct,faceoff_wins,faceoff_losses,faceoff_percentage,zs_offense_pct,pdo
0,2007,ANA,2006-10-06,,Los Angeles Kings,4,3,W,,32,21,1,,0,44,17,1,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007,ANA,2006-10-07,@,Phoenix Coyotes,2,1,W,,25,24,2,,0,35,22,1,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,ANA,2006-10-09,,St. Louis Blues,2,0,W,,34,10,2,,0,34,14,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,ANA,2007-09-29,@,Los Angeles Kings,1,4,L,,27,18,1,,0,21,18,3,,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007,ANA,2006-10-11,,New York Islanders,4,5,L,SO,50,6,2,,0,24,12,1,,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
hockey_df['game_location'] = hockey_df['game_location'].apply(lambda x: 'A' if x == '@' else 'H')

In [7]:
teams = [('ANA', 'MDA'),
         ('ARI', 'PHX', 'WIN'),
         ('BOS',),
         ('BUF',),
         ('CGY', 'ATF'),
         ('CAR', 'HAR'),
         ('CHI', 'CBH'),
         ('COL', 'QBN'),
         ('CBJ',),
         ('DAL', 'MNS'),
         ('DET', 'DTF', 'DTC'),
         ('EDM',),
         ('FLA',),
         ('LAK',),
         ('MIN',),
         ('MTL',),
         ('NSH',),
         ('NJD', 'CLR', 'KCS'),
         ('NYI',),
         ('NYR',),
         ('OTT',),
         ('PHI',),
         ('PIT',),
         ('SJS',),
         ('STL',),
         ('TBL',),
         ('TOR', 'TRS', 'TRA'),
         ('VAN',),
         ('VEG',),
         ('WSH',),
         ('WPG', 'ATL')
        ]

len(teams)

31

In [ ]:
for team in teams:
    curr_name = team[0]
    
    df = hockey_df[hockey_df['team'] == curr_name]
    for val in team[1:]:
        df = pd.concat([df, hockey_df[hockey_df['team'] == val]])
        
    df.to_csv(f'teams/{curr_name}_gamelogs.csv', index=False)

In [ ]:
hockey_df.to_csv('allgamelogs.csv', index=False)

In [ ]:
team_names = [val[0] for val in teams]

print (team_names)

In [ ]:
with open('TEAM_NAMES', 'wt') as f:
    for val in team_names:
        f.write(val)